name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {
  contents: read
}

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install

      - name: Install Playwright
        run: pnpm playwright-core install chromium

      - run: pnpm dev:prepare
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm prepack
      - run: pnpm test:types
      - uses: codecov/codecov-action@v5
        if: matrix.os != 'windows-latest'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
