name: Publish Preview2

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  publish-preview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      
      - name: Install dependencies
        run: pnpm install
      
      - name: Build
        run: pnpm run build
      
      - name: Publish preview
        run: pnpm dlx pkg-pr-new publish
